function Board.new 3
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 1
push constant 33
call Array.new 1
pop this 0
label WHILE_EXP0
push local 0
push constant 33
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
push local 0
push this 0
add
push constant 16
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 2
label WHILE_EXP1
push local 1
push constant 16
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 2
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push local 1
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Board.Get 1
push argument 0
pop pointer 0
push argument 1
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
return
function Board.Set 1
push argument 0
pop pointer 0
push argument 1
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Board.PlacePiece 5
push argument 0
pop pointer 0
push constant 0
not
pop local 3
push constant 0
pop local 1
label WHILE_EXP0
push local 3
not
if-goto WHILE_END0
push local 1
push argument 2
add
pop pointer 1
push that 0
push constant 666
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 3
goto IF_END0
label IF_FALSE0
push argument 1
push local 1
push argument 2
add
pop pointer 1
push that 0
add
pop local 0
push this 1
push local 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
pop this 1
push constant 31
push this 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call Main.EndGame 0
pop temp 0
push constant 0
return
label IF_FALSE2
label IF_FALSE1
push pointer 0
push local 0
call Board.checkColumnFull 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
push constant 1
add
pop local 2
goto IF_END3
label IF_FALSE3
push constant 0
push local 2
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push local 0
push local 2
call Board.moveColumnDown 3
pop temp 0
label IF_FALSE4
label IF_END3
push local 1
push constant 1
add
pop local 1
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
push local 2
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
push constant 1
add
push local 2
add
pop local 4
push local 0
push constant 1
add
pop local 0
label WHILE_EXP1
push local 0
push local 4
lt
not
if-goto WHILE_END1
push pointer 0
push local 0
push local 2
call Board.moveColumnDown 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push argument 1
push constant 0
push argument 2
add
pop pointer 1
push that 0
add
pop local 1
label WHILE_EXP2
push local 1
push local 4
lt
not
if-goto WHILE_END2
push pointer 0
push local 1
call Board.DrawColumn 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push this 1
push local 2
sub
pop this 1
label IF_FALSE5
push constant 0
return
function Board.moveColumnDown 3
push argument 0
pop pointer 0
push argument 1
push constant 1
add
pop argument 1
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 1
push argument 2
sub
push this 0
add
pop pointer 1
push that 0
pop local 1
push argument 1
push constant 33
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push local 2
push constant 16
lt
not
if-goto WHILE_END0
push local 2
push local 1
add
push local 2
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
goto IF_END0
label IF_FALSE0
label WHILE_EXP1
push local 2
push constant 16
lt
not
if-goto WHILE_END1
push local 2
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
label IF_END0
push constant 0
return
function Board.checkColumnFull 2
push argument 0
pop pointer 0
push argument 1
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 0
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
function Board.DrawColumn 2
push argument 0
pop pointer 0
push argument 1
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 1
call Utility.drawBlock 2
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 1
push local 1
call Utility.erazeBlock 2
pop temp 0
label IF_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
