function MovingSquare.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 2
pop this 2
push argument 0
pop this 0
push argument 1
pop this 0
push argument 3
pop this 3
push constant 0
pop this 4
push pointer 0
return
function MovingSquare.Move 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call MovingSquare.DrawColor 2
pop temp 0
push pointer 0
push this 2
call MovingSquare.DrawSquare 2
pop temp 0
push pointer 0
call MovingSquare.ApplyMovement 1
pop temp 0
push pointer 0
push constant 0
not
call MovingSquare.DrawColor 2
pop temp 0
push pointer 0
push this 2
call MovingSquare.DrawSquare 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 10
push this 4
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
push pointer 0
call MovingSquare.ChooceNewDirection 1
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
call MovingSquare.SlowFrameRate 1
pop temp 0
label IF_END0
push constant 0
return
function MovingSquare.ApplyMovement 1
push argument 0
pop pointer 0
push constant 4
pop local 0
push this 5
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 0
add
pop this 0
goto IF_END1
label IF_FALSE1
push this 0
push local 0
sub
pop this 0
label IF_END1
label IF_FALSE0
push this 6
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 8
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push local 0
add
pop this 1
goto IF_END3
label IF_FALSE3
push this 1
push local 0
sub
pop this 1
label IF_END3
label IF_FALSE2
push this 0
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 0
goto IF_END4
label IF_FALSE4
push constant 510
push this 0
push this 2
add
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 510
push this 2
sub
pop this 0
label IF_FALSE5
label IF_END4
push this 1
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop this 1
goto IF_END6
label IF_FALSE6
push constant 254
push this 1
push this 2
add
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 254
push this 2
sub
pop this 1
label IF_FALSE7
label IF_END6
push constant 0
return
function MovingSquare.SlowFrameRate 1
push argument 0
pop pointer 0
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push constant 0
return
function MovingSquare.ChooceNewDirection 3
push argument 0
pop pointer 0
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push local 0
call Utility.isEven 1
pop this 7
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push local 0
call Utility.isEven 1
pop this 8
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push local 0
call Utility.isEven 1
pop local 1
push constant 10
push this 3
call Utility.GetRandomNumberRange 2
pop local 0
push local 0
call Utility.isEven 1
pop local 2
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 5
push constant 0
pop this 6
goto IF_END1
label IF_FALSE1
push constant 0
not
pop this 6
push constant 0
pop this 5
label IF_END1
goto IF_END0
label IF_FALSE0
push constant 0
pop this 5
push constant 0
pop this 6
label IF_END0
push constant 0
return
function MovingSquare.DrawSquare 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push argument 1
add
push this 1
push argument 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function MovingSquare.DrawColor 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push constant 0
return
function MovingSquare.Dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
