function Utility.GetRandomNumberRange 4
push constant 0
pop local 0
push argument 1
push constant 54
call Canvas.getCounter 2
pop local 2
push local 2
push argument 0
call Utility.modulo 2
pop local 1
label WHILE_EXP0
push local 1
push constant 1
eq
not
push local 1
push constant 2
eq
not
and
push local 1
push constant 4
eq
not
and
not
if-goto WHILE_END0
push constant 10
push local 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
return
label IF_FALSE0
push local 1
call Utility.isEven 1
pop local 3
push local 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 2
call Math.divide 2
pop local 1
goto IF_END1
label IF_FALSE1
push local 1
push constant 3
call Math.multiply 2
pop local 1
push local 1
push constant 1
add
pop local 1
label IF_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Utility.modulo 3
push argument 0
push argument 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
call Math.divide 2
pop local 0
push local 0
push argument 1
call Math.multiply 2
pop local 1
push argument 0
push local 1
sub
pop local 2
push local 2
return
goto IF_END0
label IF_FALSE0
push argument 0
return
label IF_END0
function Utility.isEven 2
push argument 0
push constant 2
call Fraction.new 2
pop local 0
push local 0
call Fraction.getDenominator 1
pop local 1
push local 0
call Fraction.dispose 1
pop temp 0
push local 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Utility.drawA 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4104
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw1 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 480
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 416
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw2 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3696
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8216
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 12312
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16376
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw3 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1552
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 992
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw4 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 320
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 288
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 272
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 264
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 260
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 258
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16382
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 256
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw5 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1072
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 992
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw6 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1920
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2112
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4160
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4112
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4112
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4144
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2112
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1920
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw7 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 64
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw8 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3096
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 544
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3096
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 992
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw9 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4160
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4128
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4128
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4128
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4192
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8064
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.draw0 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4136
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4168
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4232
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4232
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4360
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4360
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4616
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4616
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 5128
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 5128
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push constant 0
return
function Utility.DrawNumber 8
push constant 1
pop local 5
push constant 10
pop local 6
push constant 0
not
pop local 1
push argument 2
push local 6
call Utility.modulo 2
pop local 4
push local 4
push constant 0
call List.new 2
pop local 2
push constant 0
pop local 0
label WHILE_EXP0
push local 1
not
if-goto WHILE_END0
push local 2
call List.getData 1
pop local 7
push argument 2
push local 4
push local 5
call Math.multiply 2
sub
pop argument 2
push local 6
pop local 5
push local 6
push constant 10
call Math.multiply 2
pop local 6
push argument 2
push local 6
call Utility.modulo 2
pop local 4
push local 4
push local 5
call Math.divide 2
pop local 4
push local 4
push local 2
call List.new 2
pop local 2
push local 0
push constant 1
add
pop local 0
push local 6
push argument 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push local 2
pop local 3
push constant 0
pop local 0
label WHILE_EXP1
push local 2
push constant 0
eq
not
not
if-goto WHILE_END1
push argument 0
push local 0
add
push argument 1
push local 2
call List.getData 1
call Utility.DrawDigit16by16Grid 3
pop temp 0
push local 2
call List.getNext 1
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 3
call List.Dispose 1
pop temp 0
push constant 0
return
function Utility.DrawDigit16by16Grid 0
push argument 0
push argument 1
push argument 2
call Utility.DrawDigit 3
pop temp 0
push constant 0
return
function Utility.DrawDigit 1
push argument 1
push constant 254
call Math.multiply 2
push argument 0
add
pop local 0
push argument 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Utility.draw0 1
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Utility.draw1 1
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Utility.draw2 1
pop temp 0
goto IF_END2
label IF_FALSE2
push argument 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Utility.draw3 1
pop temp 0
goto IF_END3
label IF_FALSE3
push argument 2
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
call Utility.draw4 1
pop temp 0
goto IF_END4
label IF_FALSE4
push argument 2
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call Utility.draw5 1
pop temp 0
goto IF_END5
label IF_FALSE5
push argument 2
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
call Utility.draw6 1
pop temp 0
goto IF_END6
label IF_FALSE6
push argument 2
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
call Utility.draw7 1
pop temp 0
goto IF_END7
label IF_FALSE7
push argument 2
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
call Utility.draw8 1
pop temp 0
goto IF_END8
label IF_FALSE8
push argument 2
push constant 9
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 0
call Utility.draw9 1
pop temp 0
label IF_FALSE9
label IF_END8
label IF_END7
label IF_END6
label IF_END5
label IF_END4
label IF_END3
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
